#products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.productContainer {
    display: flex;
    flex-direction: column;
    color: #33333A;
}

.product {
    position: relative;
    width: 263px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.product-photo {
    width: 260px;
    height: 390px;
}

.label-new {
    position: absolute;
    margin: 10px 10px ;
    background: #FF5E1B;
    color: #FFF;
    padding: 3px 12px;
    border-radius: 10px;
}

.product-price {
    width: 263px;
    font-size: 14px;
    line-height: 30px;
}

.loading {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.loading::before {
    content: url("../icons/refresh.png");
}