.footer {
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
    height: 320px;
    background: #33333A;
    color: #DEDEDE;
    line-height: 25px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-link-header {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #DEDEDE;
}

.communication {

}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscribe-input {
    width: 360px;
    height: 40px;
    padding: 10px;
    border: 1px solid #666;
    font-size: 14px;
    background: #33333A;
    color: #DEDEDE;
}

.subscribe-button {
    margin-left: 30px;
    width: 166px;
    height: 40px;
    color: #33333A;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.subscribe-input::placeholder {
    color: #DEDEDE;

}

.copyright {
    align-self: center;
}

