.underline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #33333A;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 150px;
}

.header-pages {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-page {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #33333A;
}

.header-page::after {
    content: url("../icons/arrow-down.png");
    padding-left: 5px;
    position: absolute;
    line-height: 0;
    top: 5px;
}

.header-page.active {
    color: #FF5E1B;
}

.header-page.active::after {
    content: url("../icons/arrow-Up-orange.png");
}

.header-user-sections {
    display: flex;
    align-items: center;
    gap: 40px;
}

.user {
    display: flex;
    gap: 10px;
}

.welcome {
    color: #33333A;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
}