.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 60px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.bread-crumbs {
    font-size: 18px;
}

.bread-crumbs a {
    color: #030303;
}

.sortBy {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 40px;
    padding-right: 24px;
}

.options {
    width: 165px;
    height: 40px;
    border: 1px solid #DEDEDE;
    color: #515356;
    font-size: 14px;
    text-transform: uppercase;
}


.filter-and-products {
    display: flex;
    gap: 30px;
    padding: 40px 150px 60px;
}

.filter {
    width: 260px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
}

.selectedCategoriesWrapper {
    color: #33333A;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 140px;

}

.selectedCategory {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    cursor: pointer; 
    padding: 5px 2px;
    border: 1px solid #030303;
    border-radius: 6px;
    background: #cec5c5;
}



.close-category {
    background: #8f8f96;
    color: #733838;
    border-radius: 5px;
    padding: 0 4px;
    cursor: pointer;

}


.reset {
    color: #FF6008;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 12px;
}

.categories {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -2px 0 0 #F3F3F3;
}

.categoryContainer {
     color: #333;
     line-height: 40px;

}

.category {
    position: relative;
    display: block;
    font-family: Roboto,sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.category:hover {
    background: rgba(234, 230, 223, 0.84);

}

.category::after {
    position: absolute;
    line-height: 0;
    top: 16px;
    right: 5px;
    content: url("../icons/category-arrow-up.png");
    transition: 0.4s;
}

.category-sections {
    display: flex;
    flex-direction: column;
    color: #33333A;
    letter-spacing: 1px;
    margin-left: 10px;
    text-transform: uppercase;
}

.sub-category {
    cursor: pointer;
    display: block;
    position: relative;
}

.sub-category:hover {
    background: rgba(234, 230, 223, 0.84);
}

.sub-category::before {
    content: url("../icons/arrow-right.png");
    position: absolute;
    top: 14px;
    left: -10px;
    line-height: 0;
    transition: 0.4s;
    transform-origin: center;
}

/*################   hide/show categories    ###############*/

.category:not(.open) ~ .category-sections {
    display: none;
}

.category.open::after{
    line-height: 0;
    content: url("../icons/category-arrow-up.png");
    transform: rotate(180deg);
}

.sub-category:not(.open) ~ .sub-category-inputs {
    display: none;
}

.sub-category.open::before {
    content: url("../icons/arrow-right.png");
    left: -15px;
    transform-origin: center;
    transform: rotate(90deg);
}

.sub-category-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-transform: uppercase;
}

form[name="categories"] input {
    display: none;
}

input:checked ~ p {
    color: #FF6008;
}

.category-label {
    cursor: pointer;
}

.selectedCategory:not(:hover) .close-category {
    display: none;
}


.category-label:hover {
    background: rgba(234, 230, 223, 0.84);
}
.size-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 145px;
    box-shadow: 0 -2px 0 0 #F3F3F3;
    color: #33333A;
    line-height: 40px;
    text-transform: uppercase;
}

.size-filter > :first-child {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.size-filter > :last-child {
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #33333A;
}

.sizes {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.size-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    color: #515356;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #F3F3F3;
    background: white;
}

.size-button.active{
    border: 1px solid #DEDEDE;
    background: #F3F3F3;
}