.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 60px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.bread-crumbs {
    font-size: 18px;
}

.bread-crumbs a {
    color: #030303;
}

.sortBy {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 40px;
    padding-right: 24px;
}

.options {
    width: 165px;
    height: 40px;
    border: 1px solid #DEDEDE;
    color: #515356;
    font-size: 14px;
    text-transform: uppercase;
}


.filter-and-products {
    display: flex;
    gap: 30px;
    padding: 40px 150px 60px;
}

.filter {
    width: 260px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.filters {
    color: #33333A;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.reset {
    color: #FF6008;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.categories {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -2px 0 0 #F3F3F3;
}

.category {
     color: #333;
     line-height: 40px;

}

.category-header {
    position: relative;
    font-family: Roboto,sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.category-header:hover {
    background: rgba(234, 230, 223, 0.84);

}

.category-header::after {
    position: absolute;
    right: 5px;
    content: url("../icons/category-arrow-up.png");
}

.category-sections {
    display: flex;
    flex-direction: column;
    color: #33333A;
    letter-spacing: 1px;
    margin-left: 10px;
    text-transform: uppercase;
}

.sub-category-header {
    cursor: pointer;
}

.sub-category-header:hover {
    background: rgba(234, 230, 223, 0.84);
}

.sub-category-header::before {
    content: url("../icons/arrow-right.png");
    margin-right: 15px;
}

/*################   hide/show categories    ###############*/
.category-header:not(.open) ~ .category-sections {
    display: none;
}

.category-header.open::after{
    position: absolute;
    right: 5px;
    display: inline-block;
    content: url("../icons/category-arrow-up.png");
    transform-origin: center;
    transform: rotate(180deg);
}

.sub-category-header:not(.open) ~ .sub-category-sections {
    display: none;
}

.sub-category-header.open::before {
    display: inline-block;
    content: url("../icons/arrow-right.png");
    transform-origin: center;
    transform: rotate(90deg);
}


.sub-category-sections {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-transform: uppercase;
}

.sub-category-sections a {
    color: #666;
    cursor: pointer;
}

.sub-category-sections a:hover {
    background: rgba(234, 230, 223, 0.84);
}
.size-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 145px;
    box-shadow: 0 -2px 0 0 #F3F3F3;
    color: #33333A;
    line-height: 40px;
    text-transform: uppercase;
}

.size-filter > :first-child {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.size-filter > :last-child {
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #33333A;
}

.sizes {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.size-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    color: #515356;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #F3F3F3;
    background: white;
}

.size-button.active{
    border: 1px solid #DEDEDE;
    background: #F3F3F3;
}